<div class="jumbotron">
 <center>
 	  <h1>The Online Music Chart</h1>
      <p>Discover the web's top 100 emerging songs and artists.</p>
          <button type="button" class="btn btn-default btn-lg"> 
        	  <%= link_to "Find out more", "#" %>
      	  </button>
</center>
</div>